.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
}
.headerArticle {
}
.headerArticle > h2 {
  text-align: start;
}
.imgStick {
  width: 250px;
  height: 100%;
  float: right;
}
.logotypes{
   width: 350px;
  height: 100%;
}
.links > a {
  text-decoration: underline;
  color: rgb(75, 185, 103);
}
.links > a:hover {
  color: rgb(8, 122, 24);
}
