.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
}
.headerArticle {
  display: flex;
  justify-content: space-between;
}
.headerArticle > h2 {
  text-align: start;
}
.imgStick {
  width: 200px;
  height: 100%;
  float: right;
}
.logo{
  width: 300px;
  height: 100%;
}
.logotypes{
  width: 350px;
  height: 100%;
}
.links > a {
  text-decoration: underline;
  color: rgb(75, 185, 103);
}
.links > a:hover {
  color: rgb(8, 122, 24);
}
