.navBar {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.logo {
  width: 410px;
  height: 90px;
  background-image: url("/src/assets/logo.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.navList {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  list-style: none;
  padding: 30px;
  margin: 0;
}

.menuButton {
  position: relative;
  margin-right: 60px;
}

.displayNone {
  display: none;
}

@media (max-width: 600px) {
  header {
    position: relative;
  }

  .navBar {
    align-items: normal;
    top: 0;
    left: 0;
    right: 0;
  }

  .logo {
    width: 230px;
    height: 56px;
  }

  .menuButton {
    margin: 0;
  }


}